<body>
    <h1>Hello from Handlebars</h1>
    <p>Welocme to front page</p>
        <a href="/manual">Manual</a>
        <a href="/download">Download Manual</a>
        <a href="/cats">Cats</a>
        <a href="/about">About you</a>
</body>